:root {
    --md-primary-fg-color:        #EE0F0F;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
  }

.md-header {
    color: rgb(80, 56, 56);
    /* font-weight: bold; */
}

.md-tabs {
    color: black;
    font-family: 'Courier New';
    font-weight: bold;
}

.md-footer {
    background-color: grey;
    font-weight: bolder;
    color: skyblue;
}

.md-typeset h1
.md-typeset h2 {
    font-weight: bolder;
}

body {
    background-color: #eee7d7;
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
}

.def-mono-red {
    font-family: 'Source Code Pro', 'Fira Code', Consolas, monospace;
    font-weight: 600;
    color: #c0392b;
}

.def-mono-blue {
    font-family: 'Source Code Pro', 'Fira Code', Consolas, monospace;
    font-weight: 600;
    color: blue;
}

.def-mono-gold {
    font-family: 'Source Code Pro', 'Fira Code', Consolas, monospace;
    /* font-weight: 600; */
    color: goldenrod;
}




/* Main body content */
/* body, .markdown-body {
  font-family: var(--font-body);
  font-size: 1.125rem;
  line-height: 1.75;
  color: #1a202c;
  max-width: 760px;
  margin: 0 auto;
  padding: 2rem;
} */

/* General text elements */
/* p, ul, ol, dl, blockquote, address {
  font-family: var(--font-paragraph);
  font-size: 1.125rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
} */

/* Optimized paragraphs */
/* p {
  font-family: var(--font-paragraph);
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 1.5rem 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
